@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body{
    margin: 0px;
    padding: 0px;
}
img{
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: blur(2px);
}
h1{
font-family: 'Poppins', sans-serif;
color: white;
margin: 0px;
font-size: 50px;
align-items: center;
justify-content: center;
display: flex;
}
tr,th{
color: white;
font-family: 'Poppins', sans-serif;
}
th{
    margin: 10px;
}
main{
    width: fit-content;
    justify-content: center;
    align-items: center;
    display: flex;
}
#Cronograma td, #Cronograma th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  #Cronograma th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(77, 66, 66);
    color: white;
  }
  #Cronograma{
    position: relative;
    border-collapse: collapse;
    width: 100vh;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    left: 44vh;
    top: 5vh;
  }
  #Crronograma tr:hover {
    background-color: gray;
  }
  
  #hr{
    width: 40px;
  }
  